UPLOAD=FALSE
TDS_URL=http://localhost:3000
SIMSERVICE_TDS_URL=http://localhost:3000
PYCIEMSS_URL=http://localhost:8000
SCIML_URL=http://localhost:8080
TDS_USER=api-service
TDS_PASSWORD=agent bio terraform
